body{
  font-family: sans-serif;
}

#future {
  display:block;
  width: 80%;
  height: 5em;
  border: 1px solid #ccc;
  overflow-y: scroll;  
}

#chat_input {
  width: 75%;
  margin: 1em;
}
canvas {
  border: 1px solid #ccc;
}